
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="/Home/Index"><i class="fa fa-home"></i> Trang chủ</a>
                    <a href="Profile"> Thông tin cá nhân</a>
                    <span>Đổi mật khẩu</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Login Begin-->
<div class="card profile-container">
            <form asp-controller="Account" asp-action="ChangePassword" method="post">
                <h2>ĐỔI MẬT KHẨU</h2>
                <div class="form-group">
                    <label for="oldPassword"></label>
                    <input type="text" name="oldPassword" class="form-control" placeholder="Nhập mật khẩu cũ">
                </div>
                <div class="form-group">
                    <label for="newPassword"></label>
                    <input type="password" name="newPassword" class="form-control" placeholder="Nhập mật khẩu mới">
                </div>
                <div class="form-group">
                    <label for="newPassword"></label>
                    <input type="password" name="newPassword" class="form-control" placeholder="Nhập lại mật khẩu mới">
                </div>
                <button type="submit" class="btn btn-primary">Cập nhật</button>
                <a asp-action="Profile" class="btn btn-secondary">Quay lại</a>
            </form>
</div>
<!-- Login End-->

<style>
    .profile-container {
        max-width: 400px;
        margin: auto;
        text-align: center;
        padding: 20px;
    }

    .breadcrumb-option {
        margin-bottom: 20px;
    }
</style>
