@model doan.Models.Menu
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Thêm mới menu shop</h1>
                </div>
            </div>
        </div>
    </section>
    <div class="container-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <form method="post">
                                <div asp-validation-summary="All"></div>
                                <div class="form-row">
                                    <div class="form-group col-md-3">
                                        <label asp-for="Title">Tên menu</label>
                                        <input type="text" class="form-control mb-3" asp-for="Title" placeholder="Nhập tên menu">
                                        <span asp-validation-for="Title" class=" alert-danger"></span>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-3">
                                        <label asp-for="Alias">Liên kết</label>
                                        <input type="text" class="form-control mb-3" asp-for="Alias" placeholder="Nhập liên kết">
                                        <span asp-validation-for="Alias" class=" alert-danger"></span>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-3">
                                        <label asp-for="Levels">Cấp menu</label>
                                        <select asp-for="Levels" class="form-select" id="Levels">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-froup col-md-3">
                                         <div class="alert-danger" asp-validation-summary="ModelOnly"></div>
                                         <label asp-for="ParentID">Menu cha</label>
                                         <select asp-for="ParentID"
                                            class="form-control"
                                            asp-items="@(new SelectList(ViewBag.mnList, "Value", "Text"))">
                                         </select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-3">
                                        <label asp-for="MenuOrder">Thứ tự menu</label>
                                        <input type="text" class="form-control mb-3" asp-for="MenuOrder" placeholder="Nhập thứ tự menu">
                                        <span asp-validation-for="MenuOrder" class=" alert-danger"></span>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-3">
                                        <label asp-for="Position">Vị trí menu</label>
                                        <input type="text" class="form-control mb-3" asp-for="Position" placeholder="Nhập vị trí menu">
                                        <span asp-validation-for="Position" class=" alert-danger"></span>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group mt-1 mb-1">
                                        <label>
                                            @Html.CheckBox("IsActive", true)
                                            Hiển thị
                                        </label>
                                    </div>
                                </div>
                                <div class="form">
                                    <div class="form-group">
                                        <input type="submit" value="Thêm" class="btn btn-primary" />
                                        <a href="javascript:history.back()" class="btn btn-info">Quay lại</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</div>