@model doan.Models.Product

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Sửa sản phẩm</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/admin">Trang chủ</a></li>
                        <li class="breadcrumb-item active"><a href="/admin/categories">Quản lý sản phẩm</a></li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <form asp-action="Edit">
                                <input type="hidden" asp-for="ProductID" />
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Title" class="control-label"></label>
                                    <input asp-for="Title" class="form-control" />
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Alias" class="control-label"></label>
                                    <input asp-for="Alias" class="form-control" />
                                    <span asp-validation-for="Alias" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CategoryProductID" class="control-label"></label>
                                    <select asp-for="CategoryProductID" class="form-control" asp-items="ViewBag.CategoryProductID">
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Description" class="control-label"></label>
                                    <input asp-for="Description" class="form-control" />
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Image" class="control-label"></label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <button type="button" class="btn btn-success" onclick="openDialog()">Chọn ảnh</button>
                                        </div>
                                        <!-- /btn-group -->
                                        <input type="text" class="form-control" id="file_input" asp-for="Image" aria-describedby="button-addon2">
                                    </div>
                                    <span asp-validation-for="Image" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Detail" class="control-label"></label>
                                    <textarea asp-for="Detail" class="form-control"></textarea>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Price" class="control-label"></label>
                                    <input asp-for="Price" class="form-control" />
                                    <span asp-validation-for="Price" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="PriceSale" class="control-label"></label>
                                    <input asp-for="PriceSale" class="form-control" />
                                    <span asp-validation-for="PriceSale" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Rating">Số sao</label>
                                    <select asp-for="Rating" class="form-select" id="Rating">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Quantity" class="control-label"></label>
                                    <input asp-for="Quantity" class="form-control" />
                                    <span asp-validation-for="Quantity" class="text-danger"></span>
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="IsNew" /> SP Mới
                                    </label>
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="IsBestSeller" /> SP Bán chạy
                                    </label>
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="IsActive" /> Hiển thị
                                    </label>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Cập nhật" class="btn btn-primary" />
                                    <a href="javascript:history.back()" class="btn btn-info">Quay lại</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@{
    var summerNote = new doan.Areas.Admin.Models.SummerNote("#Detail");
    <partial name="_SummerNote" model="summerNote" />
}