@model doan.Models.Order

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Sửa đơn hàng</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/admin">Trang chủ</a></li>
                        <li class="breadcrumb-item active"><a href="/admin/categories">Quản lý đơn hàng</a></li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <form asp-action="Edit">
                                <input type="hidden" asp-for="OrderID" />
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Code" class="control-label">Mã đơn hàng</label>
                                    <input asp-for="Code" class="form-control" />
                                    <span asp-validation-for="Code" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CustomerName" class="control-label">Tên khách hàng</label>
                                    <input asp-for="CustomerName" class="form-control" />
                                    <span asp-validation-for="CustomerName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Phone" class="control-label">Số điện thoại</label>
                                    <input asp-for="Phone" class="form-control" />
                                    <span asp-validation-for="Phone" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="TotalAmount" class="control-label">Giá trị đơn</label>
                                    <input asp-for="TotalAmount" class="form-control" />
                                    <span asp-validation-for="TotalAmount" class="text-danger"></span>
                                </div>
                               <div class="form-row">
                                    <div class="form-group">
                                        <label asp-for="OrderStatusID">Trạng thái ( 1:Chưa thanh toán; 2:Đã thanh toán; 3:Đang giao; 4:Đã giao; 5:Đã hủy; 6:Chờ duyệt )</label>
                                        <select asp-for="OrderStatusID" class="form-select" id="OrderStatusID">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CreatedDate" class="control-label">Ngày đặt</label>
                                    <input asp-for="CreatedDate" class="form-control" />
                                    <span asp-validation-for="CreatedDate" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="AccountID" class="control-label">Mã tài khoản</label>
                                    <input asp-for="AccountID" class="form-control" />
                                    <span asp-validation-for="AccountID" class="text-danger"></span>
                                </div>
                               <div class="form-group">
                                    <label asp-for="Address" class="control-label">Địa chỉ</label>
                                    <input asp-for="Address" class="form-control" />
                                    <span asp-validation-for="Address" class="text-danger"></span>
                                </div>                                
                                <div class="form-group">
                                    <input type="submit" value="Cập nhật" class="btn btn-primary" />
                                    <a href="javascript:history.back()" class="btn btn-info">Quay lại</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

